.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

.dashboard-calendar {
  margin-top: -1rem;
}

.inOut {
  border-radius: 50%;
  background: white;
  border: 0px solid #d8d8d8;
  /* box-shadow: 3px 3px 5px #595959; */
}

.inOut:active {
  transform: scale(0.9);
}

.inOut:hover {
  cursor: pointer;
}