.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  margin-top: 11rem;
  margin-bottom: 3rem;
  height: 65vh;
}

.dashboard-calendar {
  margin-top: -1rem;
}

.myButtIn {
  cursor: pointer;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: none;
  font-size: 5rem;
  transform: rotate(-15deg);
  background-color: #c58d5f;
}

.myButtIn:active {
  transform: scale(0.9) rotate(-15deg);
}

.myButtOut {
  cursor: pointer;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: none;
  font-size: 5rem;
  transform: rotate(15deg);
  background-color: #e3b695;
}

.myButtOut:active {
  transform: scale(0.9) rotate(15deg);
}

.clockIn-details_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 50px;
}

.clock-content {
  margin : 0;
}

.clock {
  text-align: center;
  font-size: 1.2rem;
}

.clock-icon {
  font-size: 2.5rem;
}

.view-dev-Info {
  border-color: #aae6cd;
  margin: 1rem;
  height: 2.5rem;
  border-radius: 2rem;
  border-width: 0.3rem;
  font-size: 1rem;
  background-color: #859482;
  display: inline-block;
  border: 0px solid #d8d8d8;
  color: #fffaf0;

}
