.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: rgb(117, 201, 222);
  position: absolute;
  bottom: 0;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #E0DBF2;
}

button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

button:hover {
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}