.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  position: absolute;
  bottom: 0;
}

.footer-button {
  background-color: transparent;
  color: #c5f8ad;
  text-shadow: 3px 3px 5px #008000;
  border: none;
  font-size: 2em;
}

.footer-button:active {
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  color: #000000;
  text-shadow: 3px 3px 5px #008000;
  transform: scale(0.8);
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .footer-button:hover {
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    color: #000000;
    text-shadow: 3px 3px 5px #008000;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
}