.header-container {
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 10rem;
  font-size: 1.5rem;
  background-color: #828786;
  color: white;
  border: none;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 5;
}