.root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 35vh;
}

.form-button {
  border-color: #aae6cd;
  margin: 1rem;
  height: 4rem;
  border-radius: 2rem;
  border-width: 0.3rem;
  font-size: 1.5rem;
  background-color: transparent;
  display: inline-block;
  border: 1px solid #d8d8d8;
}

.form-button:active {
  box-shadow: 3px 3px 3px #aaa inset, 3px 3px 3px #aaa;
}

.form-icon__service {
  font-size: 2rem;
  vertical-align: middle;
}

.form-button__innerText {
  padding: 0.5rem;
  font-size: 1rem;
}

.logo {
  display: flex;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #c58d5f;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  line-height: 90%;
  transform: rotate(-15deg);
}