@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  font-family: Dosis;
}

.main-title__container {
  text-align: center;
}

.main-title {
  font-size: 6rem;
  color: #c5f8ad;
  text-shadow: 3px 3px 5px #008000;
}

.main-subtitle {
  margin-top: -4rem;
  color: rgb(63, 119, 37);
}

.profile-container {
  margin: 2rem;
}

#next {
  background-color: #F9F6EE;
}