.settings-container {
  margin-left: 2rem;
}

.settings-button {
  display: flex;
  flex-direction: column;
  border-color: #aae6cd;
  margin: 1rem;
  border-radius: 1rem;
  border-width: 0.3rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.settings-button:hover {
  cursor: pointer;
  /* text-shadow: 3px 3px 5px #595959; */
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */

}