.settings-container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 7rem;
  margin-top: 11rem;
}

.settings-button {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 1rem;
  border-width: 0.3rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.settings-button:hover {
  cursor: pointer;
  /* text-shadow: 3px 3px 5px #595959; */
}

a {
  text-decoration: none;
}


@media only screen and (min-width: 768px) {
  /* For tablets: */
}